h1{
    color:red(122, 23, 31);
    font-size: 50px;
    text-align: center;
    background-color: rgb(206, 97, 7);
}
p{
    font-size: 40px;
    background-color: ;
}

#imagem1 {
    width: 80%;
    display: block;
    margin: 30px 30px 30px 30px; 
    border: solid 3px black;
    padding: 15px;
}

#imagem2 {
    width: 50%;
    display: block;
    margin: 30px 30px 30px 10px; 
    float: right;
    border: solid 3px black;
    padding: 15px;
}

.lista1{
    font-size: 40px;
}

h2{
    color: rgb(206, 97, 7);
    font-size: 50px;
    text-align: center;

}
